# Write A program to accept Four digit number from user and count zero , odd and even digits from the entered number

In [15]:
count_of_zero=0
count_of_odd=0
count_of_even=0
n =str(input("Enter the numbers"))
if len(n)==4:
    for i in str(n):
        i=int(i)
        if(i==0):
            count_of_zero+=1
        elif(i%2==0):
            count_of_even+=1
        elif(i%2 !=0):
            count_of_odd+= 1
    print("number of zeors in entered number",count_of_zero)
    print("number of odd number in entered number",count_of_even)
    print("number of even numbers in entered number",count_of_odd)            
else:
    print("invalid input")

Enter the numbers123456
invalid input

# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700

In [1]:
a=int(input("Enter the no="))
if a in range(1499,2701):
    if(a%7==0 and a%5==0):
        print(" true")
    else:
        print("False")

Enter the no=2300
False

# Write a Python program to convert temperatures to and from celsius, fahrenheit. Go to the editor 
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ] Expected Output : 60°C is 140 in Fahrenheit 45°F is 7 in Celsius

In [21]:
c = float(input(" Enter temperature in Centigrade: "))
f = (9*c/5)+32
print(" Temperature in Fahrenheit is: ", f)
f = float(input(" Enter temperature in fahrenheit: "))
c= 5*((f-32)/9)
print(" Temperature in centigrade is: ", c)

 Enter temperature in Centigrade: 60
 Temperature in Fahrenheit is:  140.0
 Enter temperature in fahrenheit: 45
 Temperature in centigrade is:  7.222222222222222

# Write a Python program that accepts a word from the user and reverse it.

In [3]:
s1=str(input("Entre word"))
a=s1[::-1]
print(a)

Entrerahul dubal
labud luhar

# Write a Python program to get the Fibonacci series between 0 to 50. Go to the editor
Note : The Fibonacci Sequence is the series of numbers : 0, 1, 1, 2, 3, 5, 8, 13, 21, .... Every next number is found by adding up the two numbers before it. Expected Output : 1 1 2 3 5 8 13 21 34

In [1]:
n=int(input("enter the number= "))
num1,num2= 0,1
while(num1<n):
    print(num1,end=" ")
    num=num1+num2
    num1=num2
    num2=num

enter the number= 10
0 1 1 2 3 5 8

# Write a Python program to check whether an alphabet is a vowel or consonant.

In [53]:
a=(input("enter the Alpha bate= "))
list=['a','e','i','o','A','E','I','O','U']
if a in list :
    print("It is Vowel")
else:
    print("It is Constant")

enter the Alpha bate= A
It is Vowel

# Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return

In [4]:
a=int(input("Enter value"))
b=int(input("Enter value"))
sum= a+b
if sum in range(14,21):
    print(sum)
else:
    print("invalid input")

Enter value10
Enter value10
20

# Write a program to accept ‘n’ numbers from user , store these numbers into an array. 
 Find out maximum and minimum number from an Array

In [4]:
lst= []
num=int(input("enter the size of array"))
print ("Enter the list elements :")
for n in range(num):
    numbers=int(input())
    lst.append(numbers)
print("maximum number= ",max (lst))  
print("minimum number= ",min (lst))

enter the size of array6
Enter the list elements :
6
5
4
3
1
2
maximum number=  6
minimum number=  1

### Write a menu driven program that shows the working of a library. 
The menu option should be 
--ADD BOOK INFORMATION
--DISPLAY BOOK INFORMATION 
--LIST ALL BOOKS OF GIVEN AUTHOR 
--LIST THE COUNT OF BOOKS IN THE LIBRARY 
--EXIT

# Write a program to accept ‘n’ numbers from user , store these numbers into an array and sort the numbers of an array using function

In [22]:
lst1=[]
num=int (input("enter the number of elements ="))
for n in range(num):
    numbers= int(input())
    lst1.append(numbers)
lst1.sort()
lst1

enter the number of elements =4
5
8
3
7

[3, 5, 7, 8]

# Write a program to accept customer details 
## such as : Account_no, Name, Balance in Acount, Assume Maximum 20 Customer In the bank. Write a function to print the account no and name of each customer with balance below rs 100

# Write a program to accept 5 names from user and store these names into an array sort these array element in alphabetical order

In [26]:
str1 = []
for n in range(5):
    name=str(input())
    str1.append(name)
str1.sort()    
str1

ball
at
cat
eat
doll

['at', 'ball', 'cat', 'doll', 'eat']

# Write a program to calculate the sum of digits of a given number

In [40]:
n=int(input())
l1=[]
if (n<10):
    print ("digital sum=",n)
else:
    S=str(n)
    for i in S:
        l1.append(int(i))
    print(sum(l1))

123456
21

# Write a program to calculate the sum of first digit and last digit of a given number

In [43]:
n= int(input())
L=[]
if (n<10):
    print("Invalid input, please input two digit number")
else:
    S=str(n)
    for i in S:
        L.append(int(i))
    print(L[0]+L[-1])

234567
9

# Write a program to accept a string from user , delete all vowels from the string and display the result

In [15]:
S=str(input("Enter the string "))
L=[]
for i in S:
    if i not in ('a','e','i','o','u','A','E','I','O','U'):
        L.append(str(i))
str1 = ""
print (str1.join(L))

Enter the string rAhul dUbal
rhl dbl